.card-text {
    position: relative;
    background: #B1E7FE;
    border-radius: .4em;
    padding:2%;
}

.card-text:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-right-color: #B1E7FE;
    border-left: 0;
    margin-top: -12px;
    margin-left: -12px;
}

.logo_first_page {
    max-width: 13rem;
}