<div class='row'>
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <img src="{{url_for('static',filename='image/logo.svg')}}" alt="" class='logo_first_page'>
    </div>
    <div class="col-3"></div>
</div>

<div class='row text-center mt-5'>
    <div class="col-1 col-md-3"></div>
    <div class="card mb-3  col-10 col-md-6 shadow">
        <div class="row no-gutters">
            {% if not data['new'] %}
                <h5 class="text-center col-12 card-header">
                    Ecco il suggerimento del giorno: 
                </h5>
            {% endif %}
            <div class="col-4 my-auto">
                <img src="https://i.pinimg.com/564x/e7/67/e9/e767e914efd3d51c21afcdbc8491aa9c.jpg " class="card-img" alt="...">
                <!-- https://i.pinimg.com/564x/e7/67/e9/e767e914efd3d51c21afcdbc8491aa9c.jpg -->
            </div>
            <div class="col-8">
                <div class="card-body">
                    <p class="card-text p-2">{{data['text']}}</p>
                </div>
                <div class="card-footer">
                    <a href="/home" class="btn btn-outline-dark col-12">Continue</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-1 col-md-3"></div>
</div>